.mat-form-field {
    margin-right: 3rem;
    margin-left: 3rem;
}

.centrar {
    text-align:center;
    margin:0px auto;
}

.botonGuardar {
    font-size: 60px;
    margin-right: 40px;
}

